<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' +  book.getYearOfWriting()}">VALUE</p>

<div th:if="${owner}">
    <p th:text="${'Книга принадлежит: ' + owner.getFio()}"></p>
    <form th:method="PATCH" th:action="@{/books/free/{id}(id=${book.getIdBook()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <p>Книга свободна. Хотите назначить читателя?</p>

    <form th:method="PATCH" th:action="@{/books/appoint/{id}(id=${book.getIdBook()})}">
        <label for="person">Выбирите читателя:</label>
        <select th:object="${person}" th:field="*{idPerson}" id="person">
            <option th:each="person : ${people}" th:value="${person.getIdPerson()}"
                    th:text="${person.getFio()}"></option>
        </select>

        <input type="submit" value="Назначить" />
    </form>

</div>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getIdBook()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getIdBook()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>